<h2 class="titulo">Salvar Contato</h2>
<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Nome" 
            name="nome"
            [(ngModel)]="contato.nome">
      </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email"
            name="email"
            [(ngModel)]="contato.email">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" placeholder="Telefone"
            name="telefone"
            [(ngModel)]="contato.telefone">
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-secondary" routerLink="/">Voltar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form> 