<h2 class="titulo">Meus Contatos</h2>
<a routerLink="/contato/save" class="btn btn-success mb-3">Novo</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of contatos" [routerLink]="['/contato/save', c.id]">
        <th scope="row">{{c.id}}</th>
        <td>{{c.nome}}</td>
        <td>{{c.email}}</td>
        <td>{{c.telefone}}</td>
        <td><button type="button" class="btn btn-danger">Deletar</button></td>
      </tr>
    </tbody>
</table>
